<section class="container viewpage">
  <div class="page-header">
    <h1>{{vm.cartitem._id ? 'Edit Cartitem' : 'New Cartitem'}}</h1>
  </div>
  <div class="pull-right">
    <a ng-show="vm.cartitem._id" class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="col-md-12">
    <form name="vm.form.cartitemForm" class="form-horizontal" ng-submit="vm.save(vm.form.cartitemForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="product">Product ID</label>
          <input name="product" type="text" ng-model="vm.cartitem.product._id" id="product" class="form-control" placeholder="" required autofocus>
          <div ng-messages="vm.form.cartitemForm.product.$error" role="alert">
            <p class="help-block error-text" ng-message="required">product is required.</p>
          </div>
        </div>
        
        <div class="form-group">
          <label class="control-label" for="qty">Quantity</label>
          <input name="qty" data-ng-model="vm.cartitem.qty" id="qty" class="form-control" placeholder="Quantity">
          <div ng-messages="vm.form.cartitemForm.qty.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Quantity is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.cartitem._id ? 'Update' : 'Create'}}</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
