<section class="container viewpage">    
  <div class="inner cover">
    <img src="/modules/core/client/img/check_icon.jpg">
    <h1 class="cover-heading"><strong>Your order has been placed</strong></h1>
    <p class="lead">An email confirmation is sending to you. Once shipped, you'll receive an notification with tracking information.</p>
    <p class="lead">
      <a ui-sref="settings.orders" class="btn btn-lg btn-default">View Orders</a>  
      <a ui-sref="home" class="btn btn-lg btn-primary">Continue Shopping</a>
    </p>
  </div>
</section>