<section class="container viewpage">
  <div class="page-header">
    <h1>Search for "{{vm.text}}"</h1>
  </div>
  <div class="row" >
    <div ng-repeat="product in vm.products">
      <div class="clearfix" ng-if="$index % 3 == 0"></div>
        <div class="col-cs-6 col-md-4">
        <a  ui-sref="products.view({ productId: product._id })">
            <img class="img-responsive" ng-src="{{product.image_url}}">
        </a>
        <a ui-sref="products.view({ productId: product._id })">
            <h4 ng-bind="product.productName"></h4>
        </a>
        <h4 ng-bind="product.price | currency"></h4>
        </div>
      </div>      
    </div>
    <div ng-show="vm.products.length === 0">
      <h1>No Result</h1>
    </div>
</section>
