<section class="container viewpage">
  <div class="page-header">
    <h1>
      {{vm.product._id ? 'Edit Product' : 'New Product'}}
      <div class="pull-right">
        <a ng-show="vm.product._id" class="btn btn-primary" ng-click="vm.remove()">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
    </h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.productForm" class="form-horizontal" ng-submit="vm.save(vm.form.productForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="productName">Product Name</label>
          <input name="productName" type="text" ng-model="vm.product.productName" id="productName" class="form-control" placeholder="Product Name" required autofocus>
          <div ng-messages="vm.form.productForm.productName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Product name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="category">Category</label>
          <div class="controls">
            <select name="category" class="form-control" data-ng-model="vm.product.category">
                <option value="electronics">Electronics</option>  
                <option value="components">Components</option> 
                <option value="gaming">Gaming</option> 
                <option value="services">Services</option> 
            </select>  
          </div>
          <div ng-messages="vm.form.productForm.category.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Category is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="qty">Quantity</label>
          <input name="qty" data-ng-model="vm.product.qty" id="qty" class="form-control" placeholder="Quantity">
          <div ng-messages="vm.form.productForm.qty.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Quantity is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="price">Price</label>
          <input name="price" data-ng-model="vm.product.price" id="price" class="form-control" placeholder="Price">
          <div ng-messages="vm.form.productForm.price.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Price is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="description">Description</label>
          <textarea name="category" data-ng-model="vm.product.description" cols="30" rows="10" id="category" class="form-control" placeholder="Category"></textarea>
        </div>
        <div class="form-group">
          <label class="control-label" for="image_url">Image_url</label>
          <input name="image_url" data-ng-model="vm.product.image_url" id="image_url" class="form-control" placeholder="Image_url">    
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.product._id ? 'Update' : 'Create'}}</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
