<section class="container viewpage">
  <div class="page-header">
    <div class="row">
        <div class="col-md-4">
            <h1>
              Products
              <a class="btn btn-primary" data-ui-sref="admin.products.create">
                <i class="glyphicon glyphicon-plus"></i>
              </a>
            </h1>
        </div>
        <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  
    <table class="table table-striped">
        <tr>
            <th>Product Name</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        <tr data-ng-repeat="product in vm.pagedItems">
            <td><a data-ui-sref="admin.products.edit({productId: product._id})">{{product.productName}}</a></td>
            <td>{{product.category}}</td>
            <td>{{product.qty}}</td>
            <td>{{product.price | currency}}</td>
        </tr>
    </table>
    
  <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
</section>
