<section>
  <div class="list-group">
    <a ng-repeat="order in vm.orders" ui-sref="settings.orderdetail({ orderId: order._id })" class="list-group-item">
      <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6">
          <small class="list-group-item-text">
            Posted on
            <span data-ng-bind="order.created | date:'mediumDate'"></span>
            &nbsp;|&nbsp;Ship to
            <span ng-if="order.user" ng-bind="order.user.displayName"></span>
            <span ng-if="!order.user">Deleted User</span>
          </small>
          <h4 class="list-group-item-heading" data-ng-bind="order._id"></h4>
          </div>
          <div class="col-xs-3 col-sm-2 col-md-2 pull-right orderstatus">
            <div ng-if="order.order_status == 'placed'" class="attention">Placed</div>
            <div ng-if="order.order_status == 'ready'">Processing</div>
            <div ng-if="order.order_status == 'shipout'">Shipped</div>
            <div ng-if="order.order_status == 'archive'">Delivered</div>
            <div ng-if="order.order_status == 'cancel'" class="info">Cancelled</div>
          </div>
      </div>
    </a>
  </div>
</section>
  
